body {
   margin: auto;
}

body div.center {
   text-align: center;
}

body div.center table {
   margin: auto;
}

.control {
        background-color: #FF3399;
        padding: 10px 20px 20px 20px;
}

.admin {
        background-color: #0099FF;
        padding: 10px 20px 20px 20px;
}
