@charset "UTF-8";
body {
	width: 980px;
}

table.pledge {
	margin-left: 100px;
	float: left;
}

table.pledge td {
	text-align: left;
}

table.pledge_other {
	margin-left: 100px;
	float: none;
}

table.avodah {
	float: left;
}

div.spirit div {
	float: left;
	background-color: #FFF;
}

.pledgeBtn {
	font-size: 16px;
}

hh_intro   {
	text-align: justify;
}
.content {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.buttonOk {
	background-color: #ADB96E;
	font-size: large;
}

.buttonNotOk {
	background-color: #FFF;
	font-size: large;
}

#img1 {
	display: block;
}

#img2 {
	position: absolute;
	left: 575px;
	top: 0;
}

.spiritLeft {
	width:475px;
}

.spiritRight {
	width: 475px;
}

.spirit th {
	text-align: center;
	background-color: #CCC49F;
	width:475px;
}

.spirit td {
	text-align: left;
}

.spiritTable {
	margin-left: 5px;
	margin-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}

.spiritBottom {
	clear: both;
}
