@charset "UTF-8";
body {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

table.pledge {
	margin-left: 100px;
	float: left;
}

table.pledge td {
	text-align: left;
}

table.pledge_other {
	margin-left: 100px;
	float: none;
}

table.avodah {
	float: left;
}

div.spirit div {
	float: left;
	background-color: #FFF;
}

.pledgeBtn {
	font-size: 16px;
}

hh_intro   {
	text-align: justify;
}
.content {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
}

.content tr {
	vertical-align: top;
}

.content-fltlft {
	text-align: left;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.buttonOk {
	background-color: #ADB96E;
	font-size: large;
}

.buttonNotOk {
	background-color: #FFF;
	font-size: large;
}

#img1 {
	display: block;
}

#img2 {
	position: absolute;
	left: 575px;
	top: 0;
}

.spiritLeft {
	width:475px;
}

.spiritRight {
	width: 475px;
	margin-bottom: 10px;
}

.spirit th {
	text-align: center;
	background-color: #CCC49F;
	width:475px;
}

.spirit td {
	text-align: left;
}

.spiritTable {
	font-weight: medium;
	margin-left: 5px;
	margin-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}

.spiritTable tr.spacer {
	line-height: 3px;
}

.spiritTable td.box {
	font-weight: bold;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #AAAE8A;
	margin-left: 20px;
}

.spiritTable td.col_left {
	width: 100px;
}

.spiritTable td.col_right {
	width: 120px;
}

.spiritBottom {
	clear: both;
}
#video {
	text-align: center;
}

.spirit_detail {
	margin-left: 200px;
}

.spirit_detail ul {
	margin-left: 20px;
}

.left {
	text-align: left;
}

#spiritOther {
	font-size: medium;
}

#pledgeOther {
	font-size: medium;
}

.pledge_center {
	text-align: center;
}

.adminBody input {
	font-size: large;
	height: 30px;
	width: 100px;
}

#edit_financial {
	font-size: large;
}

#edit_financial table {
	background-color: #000000;
	border-collapse: collapse;
}

#edit_financial th {
        background-color: #addfff;
        border: 1px solid #000000;
        padding: 0px 5px 0px 5px;
}

#edit_financial th.val {
        background-color: #addfff;
        border: 1px solid #000000;
        padding: 0px 5px 0px 5px;
		  width: 400px;
}

#edit_financial td {
        background-color: #ffffff;
        border: 1px solid #000000;
        padding: 0px 5px 0px 5px;
}

#edit_financial input {
	width: 400px;
}

#edit_financial option {
	font-size: large;
}